* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

a:hover > p {
    color: #1C75BC;
    cursor: pointer;
    font-weight: bold;
}

a:hover > svg {
    fill: blue;
}

.dashboard-body {
    background-color: #F4F7FC;
}

.tp-blue {
    background-color: #1C75BC;
    padding: 05px;
    display: flex;
    justify-content: flex-end;
}

.sub-tp-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 6.5rem;
    gap: 05px;
}

.sub-tp-blue select {
    background-color: transparent;
    color: white;
    border: none;
    outline:  none;
}

.sub-tp-blue option {
    background-color: #1c75bc;
    border: none;
    outline: none;
}

.btm-white {
    padding: 10px;
    background-color: #fff;
}

.sub-btm-white {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.dashboard-icon-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard-b {
    color:  #1C75BC;
}

.btm-p {
    color: #6B7881;
}